<div class="app-map-panel">
  <div id="map" class="map">
    <div #popup class="popup-wrap">
      <div *ngIf="attraction" class="map-popup">
        <mat-card class="popup">
          <mat-icon
            aria-hidden="false"
            aria-label="Close popup"
            class="close"
            (click)="closePopup()"
            >close</mat-icon
          >
          <mat-card-title>{{ attraction.Name }}</mat-card-title>
          <mat-card-subtitle
            >{{ attraction.AddressLocality }},
            {{ attraction.AddressRegion }}</mat-card-subtitle
          >
          <mat-card-content>
            <div *ngIf="attraction.Telephone">
              Call:
              <a href="tel:{{ attraction.Telephone }}">{{
                attraction.Telephone
              }}</a>
            </div>
            <div *ngIf="attraction.Url">
              Website:
              <a [href]="attraction.Url" target="_blank">{{
                attraction.Url
              }}</a>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="arrow-down"></div>
      </div>
    </div>
  </div>
</div>
