<div class="app-map-panel">
  <div id="map" class="map">
    <div #popup class="popup-wrap">
      <div *ngIf="attraction" class="map-popup">
        <mat-card class="popup">
          <mat-icon
            aria-hidden="false"
            aria-label="Close popup"
            class="close"
            (click)="closePopup()"
            >close</mat-icon
          >
          <mat-card-title>{{ attraction.Name }}</mat-card-title>
          <mat-card-subtitle
            >{{ attraction.AddressLocality }},
            {{ attraction.AddressRegion }}</mat-card-subtitle
          >
          <mat-card-content *ngIf="!showButtonControls">
            <table *ngIf="attraction.Telephone || attraction.Url">
              <tr style="text-align: left;" *ngIf="attraction.Telephone">
                <th>Phone</th>
                <td>{{ attraction.Telephone }}</td>
              </tr>
              <tr style="text-align: left;" *ngIf="attraction.Url">
                <th>Website</th>
                <td>
                  <a [href]="attraction.Url" target="_blank">{{
                    attraction.Url
                  }}</a>
                </td>
              </tr>
            </table>
          </mat-card-content>
          <mat-card-actions>
            <a
              *ngIf="attraction.Telephone"
              mat-button
              href="tel:{{ attraction.Telephone }}"
              target="_blank"
              ><mat-icon>phone</mat-icon></a
            >
            <a
              *ngIf="attraction.Url"
              mat-button
              [href]="attraction.Url"
              target="_blank"
              ><mat-icon>website</mat-icon></a
            >
            <button mat-stroked-button *ngIf="!shareClicked" (click)="share()">
              Share
            </button>
            <button mat-button *ngIf="shareClicked">
              Link Copied!
            </button>
          </mat-card-actions>
        </mat-card>
        <div class="arrow-down"></div>
      </div>
    </div>
  </div>
</div>
