.app-info-panel {
  @media screen and (min-width: 960px) {
    padding: 0 10px;
    overflow-y: scroll;
    max-height: calc(100vh - 104px);
  }

  &__view-all-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
