<mat-card *ngIf="attraction" class="app-attraction-card">
  <mat-card-header>
    <mat-card-title>{{ attraction.Name }}</mat-card-title>
    <mat-card-subtitle
      >{{ attraction.AddressLocality }},
      {{ attraction.AddressRegion }}</mat-card-subtitle
    >
  </mat-card-header>
  <img *ngIf="image" mat-card-image [src]="image" alt="" />
  <mat-card-content>
    <p *ngIf="description">{{ description }}</p>
    <div *ngIf="attraction.Telephone">
      Call:
      <a href="tel:{{ attraction.Telephone }}">{{ attraction.Telephone }}</a>
    </div>
    <div *ngIf="attraction.Url">
      Website:
      <a [href]="attraction.Url" target="_blank">{{ attraction.Url }}</a>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">View on map</button>
  </mat-card-actions>
</mat-card>
