<mat-card *ngIf="attraction" class="app-attraction-card">
  <mat-card-header>
    <mat-card-title>{{ attraction.Name }}</mat-card-title>
    <mat-card-subtitle
      >{{ attraction.AddressLocality }},
      {{ attraction.AddressRegion }}</mat-card-subtitle
    >
  </mat-card-header>
  <img
    *ngIf="attraction.ogImage !== 'undefined'"
    mat-card-image
    [src]="attraction.ogImage"
    [alt]="attraction.Name"
  />
  <mat-card-content>
    <p *ngIf="attraction.ogDescription !== 'undefined'">
      {{ attraction.ogDescription }}
    </p>
    <div *ngIf="attraction.Telephone">
      Call:
      <a href="tel:{{ attraction.Telephone }}">{{ attraction.Telephone }}</a>
    </div>
    <div *ngIf="attraction.Url">
      Website:
      <a [href]="attraction.Url" target="_blank">{{ attraction.Url }}</a>
    </div>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
